streamlit==1.28.2
streamlit-aggrid==0.3.4.post3
streamlit-antd-components==0.2.4
streamlit-book==0.7.5
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.61
streamlit-cookies-manager==0.2.0
streamlit-embedcode==0.1.2
streamlit-extras==0.3.5
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.0
streamlit-lottie==0.0.5
streamlit-modal==0.1.0
streamlit-option-menu==0.3.6
streamlit-shap==1.0.2
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
pandas==2.1.3
SQLAlchemy==2.0.23
pygwalker==0.3.17
